.gallery{
  height: 100vh;
  &__container{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
  }
  a{
    display: block;
    width: 150px;
    height: 150px;
    background-color: black;
  }
}

