@use "../base/typography" as *;
@use "../sass-utils/mixins" as *;
@use "../base/wrapper" as *;
@use "../base/brakepoints" as *;

.hero{
  padding: 150px 0;
  @media(min-width: $md){
    padding: 250px 0;
    position: relative;
  }
  @media(min-width: $lg){
    padding: 250px 0;
    position: relative;
  }
  &__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    @media(min-width: $md){
      flex-direction: row;
    }
  }
  &__text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    @media(min-width: $md){
      width: 60%;
      z-index: 1;
    }
    @media(min-width: $lg){
      width: 65%;
    }
  }
  &__line{
    width: 90%;
    @media(min-width: $md){
      width: 80%;
    }
    @media(min-width: $lg){
      width: 60%;
    }
  }
  &__image{
    width: 100%;
    @media(min-width: $md){
      width: 50%;
      position: absolute;
      right: 0;
      top: -50px
    }
    @media(min-width: $lg){
      width: 45%;
      right: 0;
    }
    img{
      width: 100%;
    }
  }
}

