@use "../sass-utils/variables" as *;
@use "../base/brakepoints" as br;

.footer{
  height: 70px;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    color: $white;
    font-size: .7em;
    max-width: 70%;
    text-align: center;
  }
}