@use "../sass-utils/variables" as *;
@use "../base/brakepoints" as *;

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media(min-width: $md) {
    flex-direction: row;
    justify-content: center;

  }
  @media(min-width: $lg) {
    width: 800px;
  }

  &__icon {
    background-color: $light-green;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    @media(min-width: $md) {
      text-align: left;
      width: 50%;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}